 a {
  color: inherit;
  cursor: pointer;
}

article a {
  text-decoration: underline;
}

article a:hover {
  color: #444263;
}

h1 {
  font-weight: 800;
  font-size: 2.25em;
  margin-top: 0;
  margin-bottom: .2em;
  line-height: 1.1111111;
}

article p {
  margin: 1.2em 0;
}

* {
  transition: all 0.1s ease-in-out;
}
